{% extends 'pesmarica/base.html' %}
{% block nav_link_home %}active{% endblock nav_link_home %}
{% load pesmarica_extras %}

{% block  content %}
<!-- SHOWCASE -->
            
<div class="container mt-5">
    <p class="h2 text-center mb-5 text-dark">Nauči brzo i lako <br> Pretražuj pesme i zasviraj SAD</p>
    <div class="d-flex justify-content-center">
        <form class="form-inline my-2 my-lg-0 w-50" method=GET action="{% url 'pretraga' %}">
            <input class="form-control mr-sm-2" type="search" aria-label="Search" name="q">
            <button class="btn btn-outline-danger my-2 my-sm-3 w-100 border-2" type="submit">PRETRAŽI</button>
        </form>
    </div>
</div>

<!-- KARTICE -->

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
            <div class="card shadow p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    <h5 class="card-title text-center text-danger">NAJNOVIJE</h5>
                    <ul class="list-group list-group-flush">
                        {% for pesma in najnovije %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="{% url 'akordi' pesma.id pesma.izvodjac|slug pesma.naziv_pesme|slug %}">{{ pesma.izvodjac }} - {{ pesma.naziv_pesme }}</a>
                                <div class="dropdown">
                                    <span type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </span>
                                    <ul class="dropdown-menu">
                                        {% if user.is_authenticated %}
                                            <li>
                                                <span class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#najnovije{{ forloop.counter }}">
                                                Dodaj u...
                                                </span>
                                            </li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a href="{% url 'izvodjac' pesma.izvodjac|slug %}" class="dropdown-item">Više od izvođača</a></li>
                                        {% else %}
                                            <li><a href="{% url 'izvodjac' pesma.izvodjac|slug %}" class="dropdown-item">Više od izvođača</a></li>
                                        {% endif %}
                                    </ul>    
                                </div>
                            </li>
                            <form id="{{ forloop.counter }}" action="{% url 'dodaj-pesmu' pesma.id %}" method="post">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <div class="modal fade" id="najnovije{{ forloop.counter }}"  tabindex="-1" aria-labelledby="najnovije{{ forloop.counter }}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h5 class="text-center modal-title" id="najnovije{{ forloop.counter }}Label">Dodaj u...</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                {% if repertoari %}
                                                    <div class="modal-body">
                                                        <select class="form-select" name="repertoar" id="{{ forloop.counter }}">
                                                            {% for r in repertoari %}
                                                                <option value="{{ r }}">{{ r }}</option>
                                                            {% endfor%}
                                                        </select>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" name="save" value="save" class="btn btn-danger">Sačuvaj</button>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Otkaži</button>
                                                    </div>
                                                {% else %}
                                                    <div class="modal-body">
                                                        <p class="text-muted">Trenutno nemate nijedan repertoar.
                                                            <a href="{% url 'repertoar' %}" class="text-danger">Napravi repertoar</a>
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Otkaži</button>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card shadow p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    <h5 class="card-title text-center text-danger">NASUMIČNO</h5>
                    <ul class="list-group list-group-flush">
                        {% for pesma in nasumicno %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="{% url 'akordi' pesma.id pesma.izvodjac|slug pesma.naziv_pesme|slug %}">{{ pesma.izvodjac }} - {{ pesma.naziv_pesme }}</a>
                                <div class="dropdown">
                                    <span type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </span>
                                    <ul class="dropdown-menu">
                                        {% if user.is_authenticated %}
                                            <li>
                                                <span class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#nasumicno{{ forloop.counter }}">
                                                Dodaj u...
                                                </span>
                                            </li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a href="{% url 'izvodjac' pesma.izvodjac|slug %}" class="dropdown-item">Više od izvođača</a></li>
                                        {% else %}
                                            <li><a href="{% url 'izvodjac' pesma.izvodjac|slug %}" class="dropdown-item">Više od izvođača</a></li>
                                        {% endif %}
                                    </ul>    
                                </div>
                            </li>
                            <form id="{{ forloop.counter }}" action="{% url 'dodaj-pesmu' pesma.id %}" method="post">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <div class="modal fade" id="nasumicno{{ forloop.counter }}"  tabindex="-1" aria-labelledby="nasumicno{{ forloop.counter }}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h5 class="text-center modal-title" id="nasumicno{{ forloop.counter }}Label">Dodaj u...</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                {% if repertoari %}
                                                    <div class="modal-body">
                                                        <select class="form-select" name="repertoar" id="{{ forloop.counter }}">
                                                            {% for r in repertoari %}
                                                                <option value="{{ r }}">{{ r }}</option>
                                                            {% endfor%}
                                                        </select>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" name="save" value="save" class="btn btn-danger">Sačuvaj</button>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Otkaži</button>
                                                    </div>
                                                {% else %}
                                                    <div class="modal-body">
                                                        <p class="text-muted">Trenutno nemate nijedan repertoar.
                                                            <a href="{% url 'repertoar' %}" class="text-danger">Napravi repertoar</a>
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Otkaži</button>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
        
        <div class="col mb-4">
            <div class="card shadow p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    <h5 class="card-title text-center text-danger">ZA POČETNIKE</h5>
                    <ul class="list-group list-group-flush">
                        {% for pesma in pocetnicke %}
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="{% url 'akordi' pesma.id pesma.izvodjac|slug pesma.naziv_pesme|slug %}">{{ pesma.izvodjac }} - {{ pesma.naziv_pesme }}</a>
                                <div class="dropdown">
                                    <span type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="bi bi-three-dots-vertical"></i>
                                    </span>
                                    <ul class="dropdown-menu">
                                        {% if user.is_authenticated %}
                                            <li>
                                                <span class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#pocetnicke{{ forloop.counter }}">
                                                Dodaj u...
                                                </span>
                                            </li>
                                            <li><hr class="dropdown-divider"></li>
                                            <li><a href="{% url 'izvodjac' pesma.izvodjac|slug %}" class="dropdown-item">Više od izvođača</a></li>
                                        {% else %}
                                            <li><a href="{% url 'izvodjac' pesma.izvodjac|slug %}" class="dropdown-item">Više od izvođača</a></li>
                                        {% endif %}
                                    </ul>    
                                </div>
                            </li>
                            <form id="{{ forloop.counter }}" action="{% url 'dodaj-pesmu' pesma.id %}" method="post">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <div class="modal fade" id="pocetnicke{{ forloop.counter }}"  tabindex="-1" aria-labelledby="pocetnicke{{ forloop.counter }}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h5 class="text-center modal-title" id="pocetnicke{{ forloop.counter }}Label">Dodaj u...</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                {% if repertoari %}
                                                    <div class="modal-body">
                                                        <select class="form-select" name="repertoar" id="{{ forloop.counter }}">
                                                            {% for r in repertoari %}
                                                                <option value="{{ r }}">{{ r }}</option>
                                                            {% endfor%}
                                                        </select>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" name="save" value="save" class="btn btn-danger">Sačuvaj</button>
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Otkaži</button>
                                                    </div>
                                                {% else %}
                                                    <div class="modal-body">
                                                        <p class="text-muted">Trenutno nemate nijedan repertoar.
                                                            <a href="{% url 'repertoar' %}" class="text-danger">Napravi repertoar</a>
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Otkaži</button>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        {% endfor %}
                    </ul>    
                </div>
            </div>
        </div> 
    </div>
</div>

{% endblock %}