{% extends 'pesmarica/base.html' %}
{% load crispy_forms_tags %}
{% block nav_link_repertoar %}active{% endblock nav_link_repertoar %}
{% load static %}
{% load pesmarica_extras %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="card shadow bg-body rounded mb-5">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <div class="border-bottom">
                                <h4 class="text-dark text-center">Da li ste sigurni da želite da obrište <em>{{ object.naslov }}</em>?</h4>
                            </div>
                            <div class="mt-3 container d-flex justify-content-between align-items-center p-2">
                                <button type="submit" class="btn btn-danger w-50">Obriši</button>
                                <a class="btn btn-outline-secondary w-50" href="{% url 'repertoar-detail' object.id object.naslov|slug %}">Odustani</a>
                            </div>
                        </fieldset>
                    </form>           
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}