{% extends 'pesmarica/base.html' %}
{% block nav_link_profile %}active{% endblock nav_link_profile %}
{% load custom_filters %}
{% load pesmarica_extras %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-12 col-lg-4">
            <div class="card bg-body rounded mb-5">
                <div class="card-body">
                    <div class="row">
                        <div class="media d-flex justify-content-between aligin-items-center">
                            <div class="col-4">
                                <a href="{{ user.profile.image.url }}" target="_blank">
                                    <img class="align-self-center rounded rounded-circle" src="{{ user.profile.image.url }}" alt="Profilna slika" style="width:100%;height:110px;">
                                </a>
                            </div>
                            <div class="col-8">
                                <div class="m-2 media-body" id="profileInfo">
                                    <h4 class="mt-0">{{ user.username }}</h4>
                                    <p class="text-secondary">{{ user.email }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="text-center"><i class="bi bi-gear-fill"></i></legend>
                            {{ u_form.non_field_errors }}
                            <!-- USERNAME-->
                            <div class="mb-3 mt-3">
                                {% if u_form.username.errors %}
                                    <label for="{{ form.username.id_for_label }}" class="form-label">Korisničko ime:</label>
                                    {{ u_form.username|addclass:'form-control is-invalid '}}
                                    <ul class="errorlist">
                                        {% for error in u_form.username.errors %}
                                            <li class="text-danger">{{ error|escape }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <label for="{{ form.username.id_for_label }}" class="form-label">Korisničko ime:</label>
                                    {{ u_form.username|addclass:'form-control ' }}
                                {% endif %}
                            </div>
                            <!-- EMAIL -->
                            <div class="mb-3 mt-3">
                                {% if u_form.email.errors %}
                                    <label for="{{ form.email.id_for_label }}" class="form-label">E-adresa:</label>
                                    {{ u_form.email|addclass:'form-control is-invalid '}}
                                    <ul class="errorlist">
                                        {% for error in form.email.errors %}
                                            <li class="text-danger">{{ error|escape }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <label for="{{ form.email.id_for_label }}" class="form-label">E-adresa:</label>
                                    {{ u_form.email|addclass:'form-control'}}
                                {% endif %}
                            </div>
                            
                            <!-- IMAGE -->
                            <div class="mb-3 mt-3">
                                {% if p_form.image.errors %}
                                    <label for="{{ form.image.id_for_label }}" class="form-label">Profilna slika:</label>
                                    {{ p_form.image|addclass:'form-control form-control-sm is-invalid'}}
                                    <ul class="errorlist">
                                        {% for error in p_form.image.errors %}
                                            <li class="text-danger">{{ error|escape }}</li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <div>
                                        <label for="{{ p_form.image.id_for_label }}" class="form-label">Profilna slika:</label>
                                    </div>
                                    {{ p_form.image|addclass:'form-control form-control-sm' }}
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <button class="btn btn-outline-success w-100 mt-3" type="submit">Sačuvaj Promene</button>
                            </div>
                            <div class="form-group mb-3">
                                <button class="btn btn-outline-secondary w-100 mt-3" name="cancel" type="submit">Otkaži</button>
                            </div>
                            <hr class="mt-5">
                            <div class="form-group mt-3">
                                <button type="button" class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Izbriši Nalog
                                </button>
                            </div>

                            <div class="form-group mt-5 d-flex justify-content-center">
                                <a class="btn w-50 btn-outline-dark" href="{% url 'logout' %}">Odjavi se</a>
                            </div>
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header text-center">
                                                <h5 class="text-center modal-title" id="exampleModalLabel">Izbriši Nalog</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p class="text-muted mt-2">Vaš nalog će biti permanetno obrisan.<br> Da li ste sigurni?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Otkaži</button>
                                                <button type="submit" value="delete" name="delete" class="btn btn-danger">Izbriši Nalog</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </fieldset>
                    </form> 
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-5">
            <div class="card shadow p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'profile' %}" class="btn btn-dark rounded-pill text-light"><i class="bi bi-music-note-list"></i></a>
                        <a href="{% url 'moje-pesme' %}" class="btn btn-danger rounded-pill text-light"><i class="bi bi-file-earmark-music-fill"></i></a>
                    </div>
                    {% if repertoari %}
                        {% for repertoar in repertoari %}
                            <div class="card shadow-sm mb-5 mt-5">
                                <div class="card-header d-flex justify-content-between aligin-items-center">
                                    <div class="article-metadata">
                                        <small class="text-muted mr-2">Dodat: </small>
                                        <small class="text-muted">{{ repertoar.datum_dodavanja|date:"d. F Y." }}</small>
                                    </div>
                                    <div class="dropdown">
                                        <span type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots"></i>
                                        </span>
                                        <ul class="dropdown-menu">
                                            {% if repertoar.autor == user %}
                                                <li>
                                                    <a class="dropdown-item" href="{% url 'repertoar-delete' repertoar.id repertoar.naslov|slug %}">Izbriši</a>   
                                                </li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" href="{% url 'repertoar-update' repertoar.id repertoar.naslov|slug %}">Izmeni</a></li>
                                            {% else %}
                                                <li><a href="#" class="dropdown-item">Više od izvođača</a></li>
                                            {% endif %}
                                        </ul>    
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h2><a href="{% url 'repertoar-detail' repertoar.id repertoar.naslov|slug %}">{{ repertoar.naslov }}</a></h2>
                                    <div class="container">
                                        <p class="text-muted">{{ repertoar.opis }}</p>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted"><em>Ukupno pesama:</em> {{ repertoar.set.all|length }}</small>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                            <p class="mt-5 text-muted">Ovde ćete moći da vidite više detalja o vašim repertoarima</p>
                    {% endif %}
                </div>
            </div>
        </div>  

        <div class="col-12 col-sm-12 col-md-12 col-lg-3">
            <div class="card bg-body rounded mb-5">
                <div class="card-body">

                    <div class="d-flex justify-content-center">
                        <form class="form-inline my-2 my-lg-0 w-100" method=GET action="{% url 'pretraga' %}">
                            <input class="form-control mr-sm-2" type="search" aria-label="Search" name="q">
                            <button class="btn btn-outline-danger my-2 my-sm-3 w-100 border-2" type="submit">PRETRAŽI</button>
                        </form>
                    </div>

                    <div class="card-body mt-3">
                        <h5 class="card-title text-center text-danger">NAUČI</h5>
                        <ul class="list-group list-group-flush">
                            {% for pesma in nasumicno %}
                                <li class="list-group-item text-left">
                                    <a href="{% url 'akordi' pesma.id pesma.izvodjac|slug pesma.naziv_pesme|slug %}">{{ pesma.izvodjac }} - {{ pesma.naziv_pesme }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div> 
                    <a href="{% url 'dodaj-akorde' %}" class="btn btn-outline-danger w-100 border-2 mt-3">Dodaj Akorde</a>
                    <form action="{% url 'repertoar' %}" method="post">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <button type="button" class="mt-3 btn btn-outline-dark w-100 border-2" data-bs-toggle="modal" data-bs-target="#napraviRepertoar">
                                Novi Repertoar
                            </button>
                            <div class="modal fade" id="napraviRepertoar" tabindex="-1" aria-labelledby="napraviRepertoarLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header text-center">
                                            <h5 class="text-center modal-title" id="napraviRepertoarLabel">Novi Repertoar</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            {{ form|crispy }}
                                            {% for error in ValidationError %}
                                                <p class="danger">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" value="save" name="save" class="btn btn-danger">Sačuvaj</button>
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Otkaži</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>       
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}



